html, body {
	background: #F0F6FE;
	text-align: center;
	/*color: #fff;*/
	width: 100%;
	height: 100%;
	/*background: url(/images/Loginbg1.png) no-repeat top center;*/

	background-size: 100% 100%;
}

input::placeholder {
	color: #3BA2EF; /* 设置占位符文字为白色 */
	opacity: 1; /* 设置透明度，默认可能较低 */
}

/* 浏览器兼容性处理 */
input::-webkit-input-placeholder { /* WebKit 浏览器（如 Chrome 和 Safari） */
	color: #3BA2EF;
}

input:-moz-placeholder { /* Firefox 4-18 */
	color: #3BA2EF;
}

input::-moz-placeholder { /* Firefox 19+ */
	color: #3BA2EF;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #3BA2EF;
}
h1 {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.contents {
    position: relative;
    width: 1200px;
    margin:  0 auto;
    text-align: center;
	background:#fff;
}

.h1{	height: 46px;
	padding: 0 5px;
	margin-bottom: 30px;
	position: relative;
}
.content{ width:365px; margin:0 auto; margin-top:90px; padding:40px 60px;border-radius: 5px;background:rgba(255,255,255,0.08);}
.reinput {
	height: 46px;
	padding: 0 5px;
	margin-bottom: 30px;
	/*border-radius: 5px;*/
	position: relative;
	border-bottom: 2px solid #3BA2EF;
}

	.reinput i{
		color:#3BA2EF;
	}
	.user {
		font-size: 26px;
		width: 25px;
		height: 25px;
		position: absolute;
		margin: 6px 13px;
	}
.layui-icon {
	font-size: 20px;
}
.login {
	position: absolute;
	z-index: 1;
	left: 50px;
	top: 0;
	height: 46px;
	font: 14px Arial;
	line-height: 46px;
}
.text{
	width: 280px;
	height: 46px;
	outline: none;
	display: inline-block;
	font: 14px Arial;
	margin-left: 50px;
	border: none;
	background: none;
	line-height: 46px;
}
.yanzm{ display:inline-block;  position:absolute; right:20px; top:3px;}
.yanzms{border-radius: 5px; width:100px;border:1px solid gray;}
.submit {
	padding: 15px;
	margin-top: 20px;
	display: block;
	background: #3BA2EF;
	color:#fff;
}
.act-but{
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	border-radius: 50px;
	/*background: #fff;*/
}
.copyright {
	width:100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: #2E3033;
	color:#fff;
	text-align:center;
	padding:10px 0;
}
/*去掉填充样式*/
input:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
}

 input:-webkit-autofill {
 -webkit-box-shadow: 0 0 0 1000px white inset !important;
 }

/*移动端页面*/
@media (max-width: 1200px) {
	.contents {
		position: relative;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}

	.content {
		width: 84%;
		position: absolute;
		top: 20%;
		right: 3%;
		padding: 40px 5%;
		/*border-radius: 5px;*/
		background: #fff;
	}
}
/*手机版*/
@media (max-width: 768px) {
	html {
		font-size: 16px;
	}
}
